<!-- main menubar -->
<nav class="hidden sm:block">
  <div class="flex items-center justify-between max-w-7xl mx-auto p-4 gap-6">
    <div class="w-60 flex flex-col justify-center items-center">
      <a href="https://illumitacit.com">
        <img src="https://raw.githubusercontent.com/illumitacit/assets/main/imgs/logo.svg" alt="IllumiTacit">
      </a>
    </div>

    <!-- spacer -->
    <div class="grow"></div>

    <a class="font-semibold text-slate-600 hover:text-brand-primary dark:text-slate-400 dark:hover:text-brand-primary" href="https://illumitacit.com/#features">
      Features
    </a>

    <a class="font-semibold text-slate-600 hover:text-brand-primary dark:text-slate-400 dark:hover:text-brand-primary" href="https://illumitacit.com/#howitworks">
      How it works
    </a>

    <a class="font-semibold text-slate-600 hover:text-brand-primary dark:text-slate-400 dark:hover:text-brand-primary" href="https://illumitacit.com/#pricing">
      Pricing
    </a>

    <a class="font-semibold text-slate-600 hover:text-brand-primary dark:text-slate-400 dark:hover:text-brand-primary" href="https://illumitacit.com/#faq">
      FAQ
    </a>

    <!-- spacer -->
    <div class="grow"></div>

    <div class="w-60 flex flex-row-reverse">
      <a class="inline-block text-lg font-bold text-brand-primary hover:text-brand-primary-light" href="https://app.illumitacit.com">
        Log in
      </a>
    </div>
  </div>
</nav>
