<nav class="bg-slate-50 dark:bg-slate-800">
  <div class="flex justify-between max-w-7xl mx-auto p-4">
    <div class="w-48">
      <picture>
        <source srcset="https://raw.githubusercontent.com/illumitacit/assets/main/imgs/logo_darktheme.svg" media="(prefers-color-scheme: dark)">
        <img src="https://raw.githubusercontent.com/illumitacit/assets/main/imgs/logo.svg" alt="IllumiTacit">
      </picture>
    </div>

    <!-- spacer -->
    <div class="grow"></div>

    <a class="inline-block" href="https://app.illumitacit.com">
      <button
        class="py-2 px-4 text-xs
               text-white dark:text-slate-50 bg-brand-primary
               font-semibold rounded-xl shadow-4xl focus:ring focus:ring-indigo-300
               transition ease-in-out duration-200 hover:bg-brand-primary-light
              "
      >
        Log in
      </button>
    </a>
  </div>
</nav>
